.chat .center::-webkit-scrollbar {
    display: none;
}

.chat {
    flex: 2;
    border-left: 1px solid #dddddd35;
    border-right: 1px solid #dddddd35;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.chat .top {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd35;
}

.chat .top .user {
    display: flex;
    align-items: center;
    gap: 20px;
}

.chat .top .user img {
    width: 60px;
    height: 60px;
    border-radius: 60%;
    object-fit: cover;
}

.chat .top .user .texts {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.chat .top .user .texts span {
    font-size: 18px;
    font-weight: bold;
}

.chat .top .user .texts p {
    font-size: 14px;
    font-weight: 300;
    color: #a5a5a5;
}

.chat .top .icons {
    display: flex;
    gap: 20px;
}

.chat .top .icons img {
    width: 20px;
    height: 20px;
}

.chat .top .icons .info-wrapper {
    position: relative;
    display: inline-block;

    img {
        vertical-align: middle; /* Align image vertically in the middle */
    }

    p {
        position: absolute;
        top: 100%; /* Position below the image */
        left: 0;
        color: #07bc0c;
        background-color: white; /* Background color for the info box */
        border: 1px solid #ddd; /* Border to make it distinct */
        border-radius: 5px; /* Rounded corners */
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
        padding: 10px; /* Padding inside the info box */
        white-space: nowrap; /* Prevent text from wrapping */
        z-index: 10; /* Ensure it appears above other content */
    }
}

.chat .center {
    padding: 20px;
    flex: 1;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.chat .center .message {
    max-width: 70%;
    display: flex;
    gap: 20px;
    align-self: flex-start;
}

.chat .center .message.own {
    align-self: flex-end;
}

.chat .center .message.own .texts p {
    background-color: #5183fe;
}

.chat .center .message img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.chat .center .message .texts {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.chat .center .message .texts p {
    padding: 20px;
    background-color: rgba(17, 25, 40, 0.3);
    border-radius: 10px;
}

.chat .center .message .texts span {
    font-size: 13px;
}

.chat .center .message .texts img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.chat .button {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #dddddd35;
    gap: 20px;
    margin-top: auto;
}

.chat .button .icons {
    display: flex;
    gap: 20px;
}

.chat .button .disabled {
    opacity: 0.5;
}

.chat .button .disabled img,
.chat .button input:disabled,
.chat .button .sendButton:disabled {
    cursor: not-allowed;
}

.chat .button .disabled img,
.chat .button .sendButton:disabled {
    opacity: 0.5;
}

.chat .button input {
    flex: 1;
    background-color: rgba(17, 25, 40, 0.5);
    border: none;
    outline: none;
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 16px;
}

.chat .button .emoji {
    position: relative;
}

.chat .button .emoji .picker {
    position: absolute;
    bottom: 50px;
    left: 0;
}

.chat .button .sendButton {
    background-color: #5183fe;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.chat .button .sendButton:hover {
    background-color: #3a66f9;
}

.chat .button .sendButton:disabled {
    background-color: #5182feb4;
}
